/* Font principal do site */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1c475e;
  color: #fbfbfb;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 20vh 73vh 7vh;
}

header {
  grid-column: 1/4;
  background: url(./img/logo.png) no-repeat;
  background-size: 22vh;
  background-position: right 0.2px;
  background-color: #0b192e;
}

main {
  grid-column: 2/3;
  background-color: #2a2a2a;
}

#asiRight {
  grid-column: 3/4;
}

#asiLeft {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}

#asiLeft .menuBorder {
  display: block;
  border-bottom: 1px solid #265F7E;
  font-size: 20px;
  align-self: center;
  text-align: justify;
  padding-left: 30%;
  padding-bottom: 7px;
  padding-top: 6px;
}

a {
  text-decoration: none;
  color: white;
}

#asiLeft .noBorder {
  display: block;
  font-size: 20px;
  align-self: center;
  text-align: justify;
  padding-left: 30%;
  padding-bottom: 7px;
  padding-top: 6px;
}

footer {
  grid-column: 1/4;
  background-color: #0b192e;
}