/* Font principal do site */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1c475e;
  color: #fbfbfb;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 20vh 73vh 7vh;
}

header {
  grid-column: 1/4;
  /*background: url(./img/logo.png) no-repeat; */
  background-size: 22vh;
  background-color: #0b192e;
}

header .logo {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-style: italic;
}

header .imgLogo {
  position: relative;
  float: left;
}

header .textLogo {
  position: relative;
  float: right;
  padding-top: 45px;
  padding-right: 150px;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.34);
}


main {
  grid-column: 2/3;
  background-color: #2a2a2a;
}

#asiRight {
  grid-column: 3/4;
}

#asiLeft {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}

#asiLeft .menuBorder {
  display: block;
  border-bottom: 1px solid #265F7E;
  font-size: 20px;
  align-self: center;
  text-align: justify;
  padding-left: 15%;
  padding-bottom: 7px;
  padding-top: 6px;
}

#asiLeft a {
  text-decoration: none;
  color: white;
}

#asiLeft .menuBorder:hover {
  background-color: black;
  transition: 0.9s;
}

#asiLeft .noBorder:hover {
  background-color: black;
  transition: 0.9s;
}

#asiLeft .noBorder {
  display: block;
  font-size: 20px;
  align-self: center;
  text-align: justify;
  padding-left: 15%;
  padding-bottom: 7px;
  padding-top: 6px;
}

footer {
  grid-column: 1/4;
  background-color: #0b192e;
}